<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="successDB" method="POST">
        {% csrf_token %}
        <h1>Enter Restaurant Details</h1>
        <input type="text" name="name" placeholder="Enter Name"><br>
        <input type="number" name="review" placeholder="Review"><br>
        <input type="number" name="sale" placeholder="SALE"><br>
        <input type="date" name="date" placeholder="date"><br>
        <input type="text" name="status" placeholder="status"><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>